    .nav-bg-img {
        background-image: linear-gradient(to bottom, rgb(0 0 0 / 52%), rgb(33 34 34 / 80%)), url('../images/pexels-jessica-lewis-593324.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 502px;
        width: 100%;
    }
    
    .w-42 {
        width: 42%;
    }
    
    .card-img-overlay {
        position: absolute;
        top: auto !important;
        right: 0px;
        bottom: 0px;
        left: 0px;
    }
    
    .login_button:hover {
        color: #fff !important;
    }
    
    .dropdown-menu-nav {
        min-width: 100% !important;
    }
    
    .cl-3b3b3b3 {
        color: #3b3b3b !important;
    }
    
    .carousel-control-next-icon,
    .carousel-control-prev-icon {
        display: inline-block;
        /* width: 28.4px; */
        height: 35.21px;
    }
    
    .carousel-control-prev-icon {
        background-image: url('../images/left.png') !important;
    }
    
    .carousel-control-next-icon {
        background-image: url('../images/right.png') !important;
    }
    
    .carousel-control-next {
        right: -3%;
    }
    
    .carousel-control-prev {
        left: -3%;
    }
    
    .h-599 {
        height: 599px;
    }
    
    .card_circle {
        width: 94px;
        height: 94px;
        border-radius: 50px;
        position: absolute;
        bottom: 92px;
        right: 44px;
    }
    
    .banner-content {
        position: absolute;
        top: 0px;
        bottom: 0px;
        right: 0px;
        left: 0px;
    }
    
    .h-106 {
        height: 106px;
    }
    
    .w-135 {
        width: 135px;
    }
    
    .h-413 {
        height: 417px;
    }
    
    .bg-linear-gradient {
        background-image: linear-gradient(to right, #000 -94%, #000 9%);
    }
    
    @media screen and (max-width: 1650px) and (min-width:1245px) {
        .index_para {
            font-size: 1.3rem !important;
        }
        .sixColumnTilte {
            font-size: 28px !important;
        }
        .sixColumnMiniTitle {
            font-size: 24px !important;
        }
        .sixColumnMiniPara {
            font-size: 19px !important;
        }
        .footerUl>li>a {
            font-size: 16px !important;
        }
    }
    
    @media screen and (max-width: 1300px) {
        .f-16 {
            font-size: 16px !important;
        }
    }