.nav-bg-img {
    background-image: linear-gradient( to bottom, rgb(0 0 0 / 69%), rgb(0 0 0 / 78%)), url('../images/pexels-jessica-lewis-593324.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: auto;
    width: 100%;
}

.w-18 {
    width: 18rem !important;
}

.w-40 {
    width: 40px !important;
}

.h-40 {
    height: 40px !important;
}

.form-control:focus {
    box-shadow: 0 0 0 0 !important;
}

.cl-white {
    color: white !important;
}

.green-dot {
    position: absolute;
    padding: 4px;
    height: 3px;
    width: 3px;
    border-radius: 25px;
    background-color: #3ac574;
}

.green-dot-nmbr {
    width: 21px;
    height: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    text-align: center;
    background-color: #3ac574;
    color: white;
    font-size: 10px;
}

.dropdown-menu {
    min-width: 20rem;
}

.ml--1 {
    margin-left: -8px;
}

.dropdown-heading {
    font-size: 12px;
    font-weight: bolder;
}

.dropdown-contnt {
    font-size: 10px;
    color: #666666;
}

@media (max-width: 1500px) and (min-width: 1200px) {
    .w-18 {
        width: 12rem !important;
    }
    .search-img {
        width: 30px;
    }
}