    .bg_portfolioImg {
        background-image: url('../images/group282.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: auto;
        width: 100%;
        border-radius: 8px;
    }
    /* .carousel-control-next {
  right: -23px !important;
}
.carousel-control-next {
  left: -23px !important;
} */
    /* .carousel-control-next {
  left: -23px !important;
} */
    
    .carousel-indicators {
        bottom: 57px !important;
    }
    
    .carousel-control-next-icon,
    .carousel-control-prev-icon {
        height: 34px !important;
    }
    
    .carousel-control-next-icon {
        background-image: url('../images/rightwhite.png') !important;
    }
    
    .carousel-control-prev-icon {
        background-image: url('../images/leftwhite.png') !important;
    }
    
    .border-bottom {
        border-bottom: 1px solid #FFFFFF;
    }
    
    .table_scroll {
        /* height: 303px; */
        height: auto;
        /* overflow: hidden; */
        overflow-y: scroll;
        background-color: #ffffff;
    }
    
    .tableFixHead thead th {
        position: sticky;
        top: -1px;
        background: #ffffff;
    }
    
    .table-responsive::-webkit-scrollbar {
        -webkit-appearance: none;
    }
    /* a {
        color: #3B3B3B !important;
    } */
    
    .h-44 {
        height: 44px;
    }
    
    .table-responsive::-webkit-scrollbar:vertical {
        width: 8px;
    }
    
    .table-responsive::-webkit-scrollbar:horizontal {
        height: 8px !important;
    }
    
    .table-responsive::-webkit-scrollbar-thumb {
        background-color: #3AC574;
        border-radius: 10px;
        border: 2px solid #ffffff;
    }
    
    .table-responsive::-webkit-scrollbar-track {
        border-radius: 10px;
        background-color: #ffffff;
    }
    
    .table td,
    .table th {
        text-align: center;
        vertical-align: text-bottom;
    }
    
    .bg_img_8 {
        background-image: linear-gradient(to bottom, rgb(0 0 0 / 20%), rgb(33 34 34 / 20%)), url('../images/download (1).png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        /* height: 99.71989860583017vh; */
        height: 720px;
        width: 100%;
        border-radius: 10px;
    }
    
    .bg_imgcol-5 {
        background-image: linear-gradient(to bottom, rgb(0 0 0 / 20%), rgb(33 34 34 / 20%)), url('../images/1444665787925.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        /* height: 46.71989860583017vh; */
        height: 340px;
        width: 100%;
        border-radius: 10px;
    }
    
    .bg_imgcol-5_two {
        background-image: linear-gradient(to bottom, rgb(0 0 0 / 20%), rgb(33 34 34 / 20%)), url('../images/571c8df6c7e5dedcda6a312d9cd2086b.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        /* height: 46.71989860583017vh; */
        height: 340px;
        width: 100%;
        border-radius: 10px;
        margin-top: 39px;
    }
    
    .h-6px {
        height: 8px !important;
    }
    
    .w-261 {
        width: 261px;
    }
    
    .carousel-control-next {
        right: -11px;
    }
    
    .carousel-control-prev {
        left: -11px;
    }
    
    .card_boxShadow {
        box-shadow: rgb(0 0 0 / 22%) 1px 4px 12px;
    }
    
    .border-button {
        border: 1px solid #878787;
        cursor: pointer;
    }
    
    .hide_Arrow {
        position: absolute;
        left: 36px;
        top: 12px;
    }
    
    .arowhide {
        display: none;
    }
    
    .arowshow {
        display: block;
        position: absolute;
        left: 19px;
        top: 13px;
    }
    
    .btnclassborder {
        border: 1px solid #878787;
        /* background-color: green !important; */
    }
    
    .btnclassshow {
        /* background-color: green; */
        background-color: green !important;
    }
    /* .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: red;
  border-radius: 50%;
} */
    /* On mouse-over, add a grey background color */
    /* .checkmark::after{
  background-color: red !important;
} */
    
    .calender_Shadow {
        box-shadow: rgb(50 50 93 / 25%) 0px 6px 24px -5px, rgb(0 0 0 / 0%) 0px 3px 1px -15px;
    }
    
    .close:focus {
        outline: none !important;
        color: #3ac574;
        opacity: 1 !important;
    }
    
    .bg-success {
        background-color: #3ac574 !important;
    }
    
    .border-bottom {
        border-bottom: 1px solid #D8D8D8;
    }
    /* / radio Color css / */
    
    input[type='radio']:after {
        width: 20px;
        height: 20px;
        border-radius: 15px;
        top: -4px;
        left: -1px;
        position: relative;
        background-color: #d1d3d1;
        content: '';
        display: inline-block;
        visibility: visible;
        border: 2px solid white;
    }
    
    input[type='radio']:checked:after {
        width: 20px;
        height: 20px;
        border-radius: 15px;
        top: -4px;
        left: -1px;
        position: relative;
        background-color: #3AC574;
        content: '';
        display: inline-block;
        visibility: visible;
        border: 2px solid white;
        cursor: pointer;
    }
    /* input:disabled:after {

  /* background-color: #d1d3d1 !important; */
    /* background-color:  orangered !important;  */
    
    input:disabled:after {
        background-color: orangered !important;
    }
    
    input:disabled+label {
        background-color: orangered !important;
    }
    
    .dropdown-toggle-btn::after {
        display: inline-block;
        width: 0;
        height: 0;
        margin-left: .255em;
        vertical-align: .255em;
        content: "";
        border-top: .3em solid;
        border-right: .3em solid transparent;
        border-bottom: 0;
        border-left: .3em solid transparent;
    }
    /* / radio Color css / */
    /* .styLing_border{
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
} */
    
    @media screen and (max-width: 1650px) {
        .bg_img_8 {
            height: 560px;
        }
        .bg_imgcol-5 {
            height: 260px;
        }
        .bg_imgcol-5_two {
            height: 260px;
        }
        .porfolio_images_title {
            font-size: 1.7rem !important;
        }
        .porfolio_images_subtitle {
            font-size: 1.5rem !important;
        }
        .comment_SectionName {
            font-size: 22px !important;
        }
        .comment_SectionDate {
            font-size: 22px !important;
        }
        .Comment {
            font-size: 20px !important;
        }
        .comment_SectionLRD {
            font-size: 18px !important;
        }
        .mw-33 {
            max-width: 33% !important;
        }
        .mw-67 {
            max-width: 70% !important;
        }
    }